<h1>My tasks</h1>

<div class="container">
  <% @tasks.each do |task| %>
    <input type="checkbox" name="<%= task.title %>" value="<%= task.title %>">
    <%= link_to task.title, task_path(task) %><br>
  <% end %>
</div>
